# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
.idea
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.log
venv
.pid
Pipfile
Pipfile.lock
# My configurations:
db.ini
db.sqlit3
migrations